@import "tailwindcss";


* {
  box-sizing: border-box;
}

body {
  /* remove default browser margin so full-viewport backgrounds fill the screen */
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* ensure body is at least full height and show a dark fallback behind backgrounds */
  min-height: 100vh;
  /* background-color: #000; */
}

.grid-background {
  background-image:
    linear-gradient(to right, #ffffff44 1px, transparent 1px),
    linear-gradient(to bottom, #ffffff44 1px, transparent 1px);
  background-size: 50px 50px;
}

/* FullCalendar header title branco */
.fc-toolbar-title {
  color: #fff !important;
}


/* Modificando os dias do calendário */
.fc-daygrid-day-number {
  color: #fff !important;
  font-weight: normal !important;
}

/* Modificando os dias de semana do calendário */
.fc-col-header-cell {
  background-color: rgba(255, 85, 0, 1);
  color: white;
}

/* Modificando os eventos registrados */